.operate-section {
  width: 100%;
  background: #ffffff;
  padding: 35px;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.operate {
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  padding: 60px 100px;
}

/* ================= HEADER ================= */

.operate-header {
  margin-bottom: 22px;
}

.operate-header h2 {
  font-size: 38px;
  font-weight: 700;
  color: rgba(18, 18, 18, 1);
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.operate-header h2 span {
  width: 4px;
  height: 32px;
  background: #f4a019;
}

.operate-header p {
  font-size: 14px;
  color: rgba(107, 114, 128, 1);
  line-height: 1.6;
  max-width: 760px;
  margin: 0;
}

/* ================= LAYOUT ================= */

.operate-wrapper {
  display: flex;
  /* gap: 18px; */
  align-items: stretch;
  justify-content: space-around;
}

/* ================= LEFT IMAGE ================= */

.operate-image {
  width: 57%;
  overflow: hidden;
  border-radius: 30px;
  height: 480px;
}

.operate-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ================= RIGHT CARDS ================= */

.operate-cards {
  
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* ================= CARD ================= */

.country-card {
  background: #eef3f7;
  padding: 12px;
  flex: 1;
  border-radius: 30px;
}

.country-top {
  background: #ffffff;
  border: 1px solid #edf0f2;
  padding: 18px 18px 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

.country-top h3 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 700;
  color: #1c1c1c;
  margin: 0px 0 15px;
}

.country-top h3 span {
  font-size: 18px;
}

.country-top p {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(18, 18, 18, 0.8);
  margin: 0 0 10px;
}

/* ================= STATS ================= */

.stats-row {
  display: flex;
  gap: 12px;
  margin-top: auto;
}

.stat-box {
  flex: 1 1;
  border: 1px solid #ebebeb;
  border-radius: 12px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #ecfafc;
}

.stat-icon {
  width: 20px;
}

.stat-box div {
  display: flex;
  flex-direction: column;
}

.stat-box h4 {
  font-size: 15px;
  font-weight: 700;
  color: #032330;
  margin: 0;
}

.stat-box span {
  font-size: 10px;
  color: #5d646f;
}
.country-flag img{
  border-radius: 50%;
  border: 0.6px solid #12121224;
}

/*  RESPONSIVE  */

@media (max-width: 1200px) {
  .operate-header h2 {
    font-size: 34px;
  }
  .operate-image {
    height: auto;
  }
  .country-top h3 {
    font-size: 22px;
  }

  .operate {
    padding: 80px 45px;
  }

  .stats-row {
    flex-wrap: wrap;
  }

  .stat-box {
    min-width: calc(50% - 6px);
  }
}

@media (max-width: 992px) {
  .operate-wrapper {
    flex-direction: column;
  }

  .operate {
    padding: 50px 40px;
  }

  .operate-image,
  .operate-cards {
    width: 100%;
  }

  .operate-image {
    height: auto;
  }

  .operate-image img {
    height: auto;
  }

  .operate-cards {
    height: auto;
  }

  .operate-header h2 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .operate-section {
    padding: 18px;
  }

  .operate-header {
    margin-bottom: 18px;
  }

  .operate-header h2 {
    font-size: 28px;
    gap: 10px;
  }

  .operate-header h2 span {
    height: 24px;
  }

  .operate-header p {
    font-size: 14px;
  }

  .operate-image {
    height: auto;
  }

  .country-top {
    padding: 16px;
  }

  .country-top h3 {
    font-size: 22px;
  }

  .operate {
    padding: 30px 15px;
  }

  .country-top p {
    font-size: 13px;
    margin-bottom: 18px;
  }

  .stats-row {
    flex-direction: column;
  }

  .stat-box {
    width: 100%;
    min-height: 64px;
  }
}

@media (max-width: 480px) {
  .operate-section {
    padding: 14px;
  }

  .operate-header h2 {
    font-size: 24px;
  }

  .operate-header p {
    font-size: 13px;
  }

  .country-top h3 {
    font-size: 20px;
  }

  .stat-box {
    padding: 10px;
  }

  .stat-box h4 {
    font-size: 16px;
  }

  .stat-box span {
    font-size: 10px;
  }
}
