/* =========================
   APTOS FONT
========================= */

@font-face {
  font-family: "Aptos";
  src: url("../fonts/Aptos.ttf") format("truetype");
  font-style: normal;
}

/* =========================
   MYRIAD FONT
========================= */

@font-face {
  font-family: "Myriad";
  src: url("../fonts/Myriad Variable Concept.ttf") format("truetype");
  font-style: normal;
}

/* =========================
   ROOT VARIABLES
========================= */

:root {
  --primary-color: #E69C24;
  --secondary-color: #19325C;
  --text-color: #060606;
  --white-color: #ffffff;
  --light-bg: #f8f9fa;
}

/* =========================
   GLOBAL RESET
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

body {
  font-family: "Aptos", sans-serif;
  color: var(--text-color);
  background-color: #ffffff;
}

/* =========================
   GLOBAL HEADINGS
========================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Myriad";
  font-weight: 700;
  margin-bottom: 0;
}

p,
span,
li,
a,
button,
input,
textarea {
  font-family: "Aptos", sans-serif;
}

/* =========================
   COMMON STYLES
========================= */

.section-padding {
  padding: 80px 0;
}

.section-title {
  font-size: 40px;
  line-height: 60px;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 12px;
}

.span-class {
  font-size: 40px;
  line-height: 60px;
  color: #E9892C;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.common-btn {
  background-color: var(--primary-color) !important;
  color: var(--white-color) !important;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.common-btn:hover {
  background-color: #E69C24;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}


/* SLIDER CONTROLS */
.slick-dots li button:before {
  display: none;
}

/* DOT CONTAINER */
.slick-dots {
  bottom: -40px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* DEFAULT DOT */
.slick-dots li {
  width: auto;
  height: auto;
  margin: 0;
}

.slick-dots li button {
  width: 8px;
  height: 8px;
  background: #0f172a;
  border-radius: 50%;
  padding: 0;
  transition: all 0.3s ease;
}

/* ACTIVE DOT (pill shape like Figma) */
.slick-dots li.slick-active button {
  width: 22px;
  height: 8px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid #0f172a;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 1024px) {
  .section-title {
    font-size: 31px;
  }
}

@media (max-width: 991px) {
  .section-padding {
    padding: 60px 0;
  }

  .section-title {
    font-size: 34px;
  }
}

@media (max-width: 900px) {
  .section-padding {
    padding: 50px 0;
  }

  .section-title {
    font-size: 28px;
  }

  .slick-dots {
    bottom: -20px;
  }

  .common-btn {
    padding: 10px 22px;
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .section-padding {
    padding: 30px 0;
  }
}