.hero-banner {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Banner Image */

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

}

/* Overlay */

.hero-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
}

/* Content */

.hero-content {
  max-width: 600px;
}

.small-text {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #000000;
  margin-bottom: 15px;
}

.hero-content h1 {
  font-size: 62px;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #19325C;
  font-weight: 600;
}

.hero-description {
  font-size: 17px;
  color: #060606;
  font-weight: 600;
  max-width: 500px;
  line-height: 25px;
}

.home-quote-icon1 {
  width: 26px;
  height: 26px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #19325C;
  font-size: 18px;
  transition: all 0.3s ease;
}

.home-quote-icon2 {
  width: 26px;
  height: 26px;
  background: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #19325C;
  font-size: 18px;
  transition: all 0.3s ease;
  border: 1px solid #19325C;
}

.explore-btn {
  background: transparent;
  border: 1px solid #285D80;
  padding: 12px 22px;
  font-weight: 600;
  border-radius: 30px;
  transition: 0.3s;
  color: #285D80 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.airplan-icon {
  width: 53px;
  height: 18px;
  display: none;

}

.explore-btn:hover {
  background: transparent;

}

/* =========================
   TRUST BADGES
========================= */

.hero-badges {
  margin-top: 40px;
  background: #FFFFFFB2;
  border-radius: 22px;
  padding: 12px 12px;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  backdrop-filter: blur(10px);
}

.hero-badge-item {
  display: flex;
  align-items: center;
  gap: 5px
}

.hero-badge-item img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.hero-badge-item span {
  font-size: 14px;
  font-weight: 500;
  color: #060606;
}

.hero-divider {
  width: 1px;
  height: 25px;
  background: #060606;
}

/* =========================
   STATS BAR
========================= */

.hero-stats-wrapper {
  position: absolute;
  bottom: -60px;
  left: 0;
  width: 100%;
  z-index: 10;
}

.hero-stats {
  max-width: 1250px;
  margin: auto;
  background: #19325C;
  border-radius: 44px;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

.hero-stat-item {
  display: flex;
  align-items: center;
  gap: 18px;
}

.hero-stat-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.hero-stat-item h3 {
  color: white;
  font-size: 30px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 0px;
}

.hero-stat-item p {
  color: white;
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}

.hero-stat-divider {
  width: 1px;
  height: 60px;
  background: #FFFFFF;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 1200px) {

  .hero-stats {
    flex-wrap: wrap;
    border-radius: 28px;
    width: 80%;
  }

  .hero-stats-wrapper {
    bottom: -140px;
  }

  .hero-stat-divider {
    display: none;
  }

  .hero-stat-item {
    width: 45%;
    flex: unset;
  }
}

@media (max-width: 991px) {

  .hero-badges {
    /* flex-wrap: wrap; */
    gap: 16px;
    padding: 16px 20px;
  }

  .hero-divider {
    display: none;
  }

  .hero-stats {
    padding: 30px;
  }

  .hero-stat-item h3 {
    font-size: 36px;
  }

  .hero-stat-item p {
    font-size: 18px;
  }
}

@media (max-width: 767px) {

  .hero-badges {
    width: 100%;
    border-radius: 18px;
  }

  .hero-badge-item {
    width: 100%;
  }

  /* .hero-stats {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    border-radius: 24px;
  } */

  .hero-stat-item {
    /* width: 100%; */
  }

  .hero-stat-item h3 {
    font-size: 32px;
  }

  .hero-stat-item p {
    font-size: 16px;
  }
}

/* Responsive */
@media (max-width:1024px) {
  .hero-content {
    max-width: 600px;
    padding-top: 30px;
  }

  .hero-description {
    font-size: 15px;
    color: #3D3D3D;
    font-weight: 600;
    max-width: 520px;
    line-height: 1.2;
  }

  .hero-content h1 {
    font-size: 44px;
    line-height: 1.1;
    margin-bottom: 20px;
    color: #000000;
  }
}

@media (max-width: 991px) {

  .hero-banner {
    /* height: auto; */
  }

  .hero-content h1 {
    font-size: 48px;
  }
}

@media (max-width: 768px) {



  .hero-content {
    max-width: 600px;
    padding-top: 20px;
  }


  .hero-content h1 {
    font-size: 38px;
  }

  .hero-description {
    font-size: 15px;
  }
}

@media (max-width: 576px) {

  .hero-banner {
    height: auto;
    min-height: 100vh;
    background-image: url("./../../src/assets/banners/hero-banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero-stats-wrapper {
    margin-top: 25px;
    position: static;
  }

  .hero-stats {
    width: 100%;
  }

  .hero-image {
    display: none;
  }

  .hero-overlay {
    position: static;
  }

  .hero-overlay {
    align-items: flex-start;
    padding-top: 60px;
  }

  .hero-content {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .hero-stat-item img {
    width: 40px;
    height: 40px;

  }

  .hero-stat-item h3 {
    font-size: 25px;
  }

  .hero-stat-item p {
    font-size: 14px;
  }

  .hero-content h1 {
    font-size: 34px;
    line-height: 1.1;
  }

  .hero-content button {
    max-width: 220px;
  }

  .hero-content button {
    min-width: 220px;
  }

  .explore-btn {
    padding: 10px 22px;
    font-size: 14px;
    letter-spacing: 0.5px;
  }

  .hero-stat-item {
    width: 50%;
    margin-bottom: 30px;
  }

  .hero-stats {
    padding: 20px;
    gap: 0;
    padding-bottom: 0;
    flex-wrap: wrap;
  }

  .hero-description {
    font-size: 15px;
    line-height: 1.4;
  }

  .hero-badge-item {
    width: 50%;
    margin-bottom: 15px;
  }

  .hero-badges {
    flex-wrap: wrap;
    gap: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 320px) {

  .common-btn,
  .explore-btn {
    width: 100%;
    padding: 10px 14px;
    font-size: 14px;
    text-align: center;
  }

  .hero-overlay {
    align-items: flex-start;
    padding-top: 60px;
  }
}