.custom-navbar {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 28px 0 !important;
  background: white !important;
  position: sticky !important;
  top: 0;
  box-shadow: 0px 1px 2px 0px #00000014;
}

.logo {
  width: 230px;
}

/* Active nav link */
.custom-nav-link.active {
  color: var(--primary-color) !important;
}

/* underline active */
.custom-nav-link.active::after {
  width: 100%;
}

/* dropdown active */
.dropdown-item.active {
  background: #f5f5f5;
  color: var(--primary-color);
}

/* NAV LINKS */

.custom-nav-item {
  position: relative;
}

.custom-nav-link {
  color: #262626 !important;
  font-size: 17px !important;
  font-weight: 600 !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: 0 20px;
  letter-spacing: 0.5px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  letter-spacing: 1px;
  text-decoration: none;
}

/* Hover Color */

.custom-nav-link:hover {
  color: var(--primary-color) !important;
}

/* Underline Effect */

.custom-nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0%;
  height: 2px;
  background: var(--primary-color);
  transition: 0.3s ease;
}

.custom-nav-link:hover::after {
  width: 100%;
}

/* Dropdown Arrow */

.dropdown-icon {
  font-size: 20px;
  margin-left: 5px !important;
  margin-bottom: 4px;
}

/* Navbar Toggler */

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.custom-nav-item {
  position: relative;
}

.custom-dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 240px;
  background: #fff;
  border-radius: 15px !important;
  padding: 10px 0;
  border: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.custom-nav-item:hover .custom-dropdown-menu {
  display: block;
}

.custom-dropdown-menu .dropdown-item {
  padding: 10px 12px;
  font-size: 14px;
  color: #6B7280 !important;
  font-weight: 600;
  transition: 0.3s ease;
}

.custom-dropdown-menu .dropdown-item.active,
.dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: transparent;
  color: #262626;
}

.custom-dropdown-menu .dropdown-item:hover {
  background-color: #f5f5f5;
  color: var(--primary-color);
}

@media (max-width: 1200px) {
  .custom-nav-link {
    font-size: 15px !important;
    margin: 0 8px;
  }
}

/* Mobile */

@media (max-width: 991px) {

  .custom-navbar {
    background: white;
    padding: 12px 0;
  }

  .custom-navbar-collapse {
    background: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
  }

  .custom-navbar {
    padding: 10px 0 !important;
  }

  .custom-nav-link {
    margin: 10px 0;
  }

  .custom-nav-link::after {
    display: none;
  }
}