.custom-navbar {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 18px 0 !important;
  background: white !important;
  position: sticky !important;
  box-shadow: 0px 1px 2px 0px #00000014;
}

.logo {
  width: 170px;
}

/* NAV LINKS */

.custom-nav-item {
  position: relative;
}

.custom-nav-link {
  color: #262626 !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: 0 14px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  letter-spacing: 0.5px;
  text-decoration: none;
}

/* Hover Color */

.custom-nav-link:hover {
  color: var(--primary-color) !important;
}

/* Underline Effect */

.custom-nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0%;
  height: 2px;
  background: var(--primary-color);
  transition: 0.3s ease;
}

.custom-nav-link:hover::after {
  width: 100%;
}

/* Dropdown Arrow */

.dropdown-icon {
  font-size: 20px;
  margin-left: 5px !important;
  margin-bottom: 4px;
}

/* Navbar Toggler */

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* Mobile */

@media (max-width: 991px) {

  .custom-navbar {
    background: white;
    padding: 12px 0;
  }

  .custom-navbar-collapse {
    background: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
  }

  .custom-nav-link {
    margin: 10px 0;
  }

  .custom-nav-link::after {
    display: none;
  }
}